{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Products{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('product.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for product in products %}
<article class="post">
    <header>
        <div>
            <h1>{{ product['title'] }}</h1>
            <div class="about">on {{ product['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        <a class="action" href="{{ url_for('product.update', id=product['id']) }}">Edit</a>
    </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}